<div class="search-container">
    <h2>Car Search</h2>
    <select [(ngModel)]="selectedMake">
      <option value="">Select Make</option>
      <option *ngFor="let make of carMakes">{{ make }}</option>
    </select>
  
    <select [(ngModel)]="selectedModel" [disabled]="!selectedMake">
      <option value="">Select Model</option>
      <option *ngFor="let model of models">{{ model }}</option>
    </select>
  
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search Trims" [disabled]="!selectedModel">
  
    <button (click)="searchCars()">Search</button>
  </div>